SERVER_PORT=

SERVLET_MULTIPART_MAX_FILE_SIZE=
SERVLET_MULTIPART_MAX_REQUEST_SIZE=

POSTGRES_DB_URL=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_DRIVER=

HIBERNATE_DIALECT=
HIBERNATE_DDL_AUTO=

REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PRODUCTS_BUCKET_NAME=
MINIO_AVATARS_BUCKET_NAME=
MINIO_EXTERNAL_URL=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBIT_QUEUE_REQUESTS=
RABBIT_QUEUE_RESULTS=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
FRONTEND_URL=